<h1>New division</h1>

<form action="/wizard_divide">
    <label for="user_num_1">Divide this:</label>
    <input id="user_num_1" type="text" name="first_num">
    <label for="user_num_2">by this:</label>
    <input id="user_num_2" type="text" name="second_num">
    <button>Divide!</button>
</form>
