<h1>New multiplication</h1>

<form action="/wizard_multiply">
    <label for="user_num_1">Multiply this:</label>
    <input id="user_num_1" type="text" name="first_num">
    <label for="user_num_2">by this:</label>
    <input id="user_num_2" type="text" name="second_num">
    <button>Multiply!</button>
</form>
